<div class="main-wrapper">
  <nav class="breadcrumb-nav">
    <ul class="breadcrumb-list">
      <li><a href="/dashboard">Painel</a></li>
      <li><%= note.title %></li>
    </ul>
  </nav>

  <div class="note-header">
    <h1 class="title-view">Ver nota</h1>
    <button type="button" class="btn-danger" id="deleteButton">Excluir</button>
  </div>

  <form action="/dashboard/item/<%= noteID %>?_method=PUT" method="POST" class="note-form">
    <input type="text" id="title" name="title" class="note-title" value="<%= note.title %>" placeholder="Título">

    <textarea id="body" name="body" class="note-body" placeholder="Escreva sua nota..." rows="12"><%= note.body %></textarea>

    <button type="submit" class="btn-primary">Atualizar</button>
  </form>
</div>

<!-- Modal para deletar -->
<div class="modal" id="deleteModal" style="display: none;">
  <div class="modal-box">
    <div class="modal-header">
      <h2>Você está prestes a excluir uma nota</h2>
      <button class="modal-close" onclick="closeModal()">&times;</button>
    </div>
    <div class="modal-body">
      <p>
        Isso excluirá sua nota <strong><%= note.title %></strong><br>
        Tem certeza?
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn-secondary" onclick="closeModal()">Cancelar</button>
      <form action="/dashboard/item-delete/<%=noteID %>?_method=DELETE" method="POST">
        <button type="submit" class="btn-primary">Deletar Nota</button>
      </form>
    </div>
  </div>
</div>
<script>
  const deleteButton = document.getElementById('deleteButton');
  const deleteModal = document.getElementById('deleteModal');

  deleteButton.addEventListener('click', () => {
    deleteModal.style.display = 'flex';
  });

  function closeModal() {
    deleteModal.style.display = 'none';
  }
</script>
