<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%- locals.title %></title>
  <meta name="description" content="<%- locals.description %>" />
  <meta name="author" content="Jimmy Smith" />

  <!-- Fontes Google -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Unbounded:wght@400;500;600;700;800&family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />


  <link href="https://use.fontawesome.com/releases/v6.5.0/css/all.css" rel="stylesheet">

  <!-- CSS personalizado -->
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <%- body %>
  <%- include('../partials/footer.ejs') %>
</body>

</html>
